html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition-duration: 0.25s;
}

body {
  background: linear-gradient(to bottom, rgba(164, 162, 163, 0.394), rgba(164, 162, 163, 0.394)), url('./img/best-pc-games-horizon-zero-dawn.jpg');
  background-position: center;
}

main {
  width: 85%;
  margin: 45px auto;
}

main,
.main-area,
.main-left,
.main-action,
.main-right,
.data-input form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1,
h3 {
  color: white;
  text-shadow: 2px 2px 3px rgba(34, 33, 33, 0.481);
}

.main-action {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
}

.reset-btn,
form button {
  padding: 5px;
  box-shadow: 2px 2px 3px rgba(90, 88, 88, 0.548);
  border-radius: 6px;
  cursor: pointer;
  background-color: #39b0aaa7;
  color: white;
  border: 2px solid white;
}

.data {
  margin: 25px auto;
  padding: 5px 4px;
  width: 100%;
}

table {
  border: 2px solid #39b0aaa7;
  box-shadow: 2px 2px 3px rgba(90, 88, 88, 0.548);
  width: 100%;
  color: white;
  background: rgba(140, 134, 134, 0.481);
  border-radius: 8px;
}

.data tr {
  width: 100%;
  display: flex;
  gap: 12px;
}

.data tr:nth-child(even) {
  background-color: #39b0aaa7;
}

.data td {
  width: 50%;
  padding: 4px 5px;
}

.data-input form {
  align-items: center;
  gap: 25px;
  margin-top: 25px;
}

form input {
  width: 85%;
  padding: 8px 3px;
  background-color: rgba(255, 255, 255, 0.208);
  border: 1px solid white;
  border-radius: 4px;
}

form input:focus,
form input:active {
  outline: none;
}

form button {
  width: 16%;
  align-self: flex-end;
  margin-right: 32px;
}

.main-right {
  gap: 40px;
}

.main-right h3 {
  margin-left: 32px;
}

@media screen and (min-width: 767px) {
  .main-area {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }

  .main-left,
  .main-right {
    width: 50%;
  }

  .main-action {
    justify-content: space-between;
  }
}
